# Dépendances
node_modules/
.pnp/
.pnp.js

# Production
dist/
build/
out/

# Tests
coverage/
.nyc_output/

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Éditeurs et IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.temp
.cache/

# Fichiers de build
.next/
.nuxt/
.output/

# Fichiers de système
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
