
# Utiliser npm comme gestionnaire de paquets par défaut
package-lock=true

# Éviter les conflits de paquets et les problèmes de compatibilité
legacy-peer-deps=true

# Optimisations pour de meilleures performances de build
network-timeout=60000
