
# Configuration NPM pour le déploiement Netlify
legacy-peer-deps=true
audit=false
fund=false
loglevel=error
prefer-offline=true
progress=false
ignore-scripts=false 
network-timeout=300000
omit=dev
verify-store-integrity=false
engine-strict=false
